.align{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_section{
    margin-top: 2rem;
    justify-content: space-between;

    .student_highlight {
        text-align: center;
        padding: 1rem;
        border: var(--default-border);
        border-radius: var(--default-border-radius);
    }
}

.gap {
    display: flex;
    gap: 1rem;

    align-items: center;
}

.spacing {
    display: flex;
    flex-direction: column;

    gap: 0.4rem;
}

.space_between {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.subtitle {
    display: flex;
    gap: .7rem;

    align-items: center;
    justify-content: center;
}

.evBtn {
    cursor: pointer;
    padding: 7px 17px;
    border-radius: 20px;
}

.evBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    color: var(--white);
    background-color: var(--primary-main);

    &:hover {
        color: var(--white);
        background-color: var(--primary-dark);
    }
}

.identificationCard {
    border: var(--default-border);
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem ;
    gap: 1.25rem;
    background-color: var(--background-card);

    &:hover {
        box-shadow: var();
    }

    .identificationCardMarker {
        width: 1.25rem;
        height: 2rem;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        max-width: 100%;
        margin-left: 1rem ;
    }

}

.section_header {
    /* padding: 3rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
