@import url('../../../../styles/cards.css');


.identificationCard {
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    width: 18.75rem;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .75rem 1.25rem ;
    gap: 1.25rem;

    background-color: var(--background-card);

    &:hover {
        box-shadow: 0 0 .75rem .05rem rgba(48, 48, 48, 0.623);
    }

    .identificationCardMarker {
        width: 1.25rem;
        height: 2rem;
    }

    .cardContent {
        width: 100%;
    }

    .seccondLine {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}
.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
}