.homeContainer {
    display: flex;
    justify-content: center;

    margin: 50px 50px
}

.linksContainer {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: border-box;
}