.overview_section, .competences_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ..overview section */
.overview_content {
    display: flex;
    align-items: center;

    gap: .5rem;
    justify-content: space-between;
}

.feedback_card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    height: fit-content;

    background-color: var(--gray-0);
    padding: 20px 25px;
    margin-right: 4rem;
    border: var(--default-border);
}

.feedback_author {
    margin-top: 4rem;
    align-self: flex-end;
}


/* ..competences section */