.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_title {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.student_container{
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.chart_section {
    /* gap: 3rem ; */
    flex-wrap: wrap;
    margin: 4rem 0 0  0;
    justify-content: space-around;
    width: 100%;
}
