.select_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 3rem;
    width: 100%;
}

.label {
    top: 0; left: 0;
    margin: .25rem 1rem auto;
    font-size: .75rem;
    position: absolute;
    max-width: calc(100% - 5rem);
    overflow: hidden;
    color: var(--gray-300);
    transition: 0.15s;
    font-family: "BoschSans";
    z-index: 1;
}

.label + .select_input {
    padding: 1.125rem 0 .5rem 1rem;
}

.select_input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    cursor: pointer;
    position: relative;
    border: var(--default-border);
    font-family: "BoschSans";
    font-size: 1rem;
    color: var(--gray-500);
    padding: 0 1rem;
    white-space: nowrap;
    background-image: var(--arrow-up-down);
    background-repeat: no-repeat;
    background-position: center right 1rem;
    background-size: 24px;

    &:disabled {
        background-color: var(--gray-200);
        cursor: not-allowed;
    }
}

.selection {
    background-color: rgb(0, 0, 0, 0.2);
}