.inputs {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.section {
    display: flex;

    width: 100%;
    justify-content: space-between;

    gap: .8rem;
}

.bttns {
    display: flex;

    gap: .8rem;
    width: 100%;
    justify-content: flex-end;
}


.flex_start {
    margin-right: auto;
    width: fit-content ;
}

.center {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.not {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius:4px;

    position: absolute;
    z-index: 1;
    width: 200px;
    font-size: 0.875rem;
    font-family: "BoschSans";
}

.tooltip:hover .tooltiptext {
    visibility: visible;

    left: 0;
    top: -1.7rem;
}