.align{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_section{
    .profile_card{
        margin-top: 1rem ;
        width: 100%;
        justify-content: start;
        gap: 1rem;
        
        .data_section {
            flex-direction: column;
            align-items: start;
            gap: .5rem;
        }
    }
}

.chart_section{
    margin-top: 2rem;
    justify-content: space-between;

    .student_highlight {
        text-align: center;
        padding: 1rem;
        border: var(--default-border);
        border-radius: var(--default-border-radius);
    }
}

.gap {
    display: flex;
    gap: 1rem;

    align-items: center;
}

.spacing {
    display: flex;
    flex-direction: column;

    gap: 0.4rem;
}

.space_between {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.feedback_section {

}