@import url("./reset.css");
@import url("./fonts.css");
@import url("./toast.css");

:root {
    --white: white;
    --black: black;

    --primary-light: #0197ee;
    --primary-light-low-opacity: #0197ee36;
    --primary-main: #00629a;
    --primary-dark: #00395c;
    
    --secondary-light: #9e2896;
    --secondary-main: #791d73;
    --secondary-dark: #551151;
    
    --danger-light: #e78f8f;
    --danger-main: #be0004;
    --danger-dark: #920002;
    
    --warning-light: #e9e97c;
    --warning-main: #deb300;
    --warning-dark: #bd9900;
    
    --info-light: #18837e;
    --info-main: #116864;
    --info-dark: #0a4f4b;
    
    --success-light: #67b467;
    --success-main: #006c3a;
    --success-dark: #00512a;

    --gray-0: #ffffff;
    --gray-100: #eeeeee;
    --gray-200: #b9b9b9;
    --gray-300: #919191;
    --gray-400: #616161;
    --gray-500: #424242;
    --gray-600: #2b2b2b;
    --gray-700: #161616;
    --gray-full: #000000;

    --default-rounding: 10px;
    --default-border: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    font-family: "BoschSans";
    background-color: var(--gray-100);
}

main {
    margin: 60px 60px;
}

