.align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_test_shortcut_container {
    justify-content: space-between;
}
.shortcut_header{
    gap: 1rem;
}
.title_section {
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    margin: 2rem 0;
    flex-direction: column;
    gap: .5rem;
}
.section_header {
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.table_header {
    padding: 0 1rem 1rem 1rem ;
    justify-content: start  ;
    gap: 1rem;
    align-items: flex-end;
}
.tables{ 
    display: flex;
}
.table_section {
    width: 100%;
    overflow: auto;
}
.result_table, .competence_table {
    background-color: var(--white);
    text-align: center;
    padding: 1rem;
    border: var(--default-border);
    table-layout: fixed;
    width: auto;

    .competence_cell {
        max-width: 20rem;
        overflow: hidden;
        text-align: center;
        padding: .5rem;
    }

    tr:first-child {
        th:first-child {
            width: 35%;
        }
        th {
            padding: 1rem ;
        }

    }
    td{
        border: var(--default-border);
        text-overflow: hidden;
        text-wrap: nowrap;
    }
    .result_cell {
        min-width: 10rem;
        width: 10rem;
        text-align: center;
        padding: .5rem;
    }
    .APT {
        background-color: var(--success-light);
    }
    .DEVELOPMENT {
        background-color: var(--warning-light);
    }
    .INAPT {
        background-color: var(--danger-light);
    }

}
.competence_table {
    height: calc(100% - 10px);
}